@import url("grid.css"); 
@import "tailwindcss";
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(41 37 36); /* Replace with your desired color */
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  flex-direction: column;
  gap: 1.0rem; 
}


.main {
  margin-bottom: 100px; 
}


p {
  font-size: 18px;
  color: white;
  font-weight: bold; 
}

h1 {
  color: #24BAE3;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif; 
}


h2 {
  color: white;
  font-size: 35px;
  font-weight: bold;
  font-family: sans-serif;
}

input {
  background-color: rgb(41 37 36); 
  border-radius: 5%; 
  border: 1px solid white;
  height: 75%;
  width: 75%; 
}
